.table-block {
  margin-top: 24px;
  padding: 0 18px;
  width: 100%;
  .table {
    margin-right: 0!important;
    width: 100%;
  }
  th {
    border: none;
  }
  th,
  td {
    width: 16%;
    padding-right: 24px;
    vertical-align: middle;
  }
  table thead {
    height: 52px !important;
    tr th {
      height: 52px !important;
      padding-left: 0;
      padding-top: 18px;
      padding-bottom: 18px;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      letter-spacing: -0.5px;
      color: $black;
      &:first-of-type {
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
  .w-24 {
    width: 24px;
  }
  table tbody td {
    padding: 0;
  }
  table td {
    height: 56px !important;
    padding-left: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.5px;
  }
  .table__progress {
    margin-top: 8px;
    height: 6px;
    background: rgba(10, 93, 255, 0.2);
  }
}

/* component */

.star-rating {
  border: none;
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  line-height: 20px;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
  margin-left: 10px;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: $darkGrey;
  cursor: pointer;
  margin-right: 4px;
  margin-bottom: 0;
}

#star-rating_checked label {
  color: $warning;
}

#star-rating :checked ~ label {
  color: $warning;
}

#star-rating label:hover,
#star-rating label:hover ~ label {
  color: $warning;
}

#star-rating_2_checked label {
  color: $warning;
}

#star-rating_2 :checked ~ label {
  color: $warning;
}

#star-rating_2 label:hover,
#star-rating_2 label:hover ~ label {
  color: $warning;
}

#star-rating_3_checked label {
  color: $warning;
}

#star-rating_3 :checked ~ label {
  color: $warning;
}

#star-rating_3 label:hover,
#star-rating_3 label:hover ~ label {
  color: $warning;
}

#star-rating_4_checked label {
  color: $warning;
}

#star-rating_4 :checked ~ label {
  color: $warning;
}

#star-rating_4 label:hover,
#star-rating_4 label:hover ~ label {
  color: $warning;
}

#star-rating_5_checked label {
  color: $warning;
}

#star-rating_5 :checked ~ label {
  color: $warning;
}

#star-rating_5 label:hover,
#star-rating_5 label:hover ~ label {
  color: $warning;
}

#star-rating_6_checked label {
  color: $warning;
}

#star-rating_6 :checked ~ label {
  color: $warning;
}

#star-rating_6 label:hover,
#star-rating_6 label:hover ~ label {
  color: $warning;
}

.input-group {
  margin-left: -7px;
}
.table__input {
  input {
    margin-top: -4.5px;
    border: none;
    box-shadow: none !important;
    color: $black;
    background: #fff;
    text-align: left;
    &:focus {
      background: $lightGrey;
      outline: none;
      border: none!important;
      box-shadow: 0 0 0px 2px inset $primary;
      border-radius: 3px;
    }
    &::placeholder {
      color: $black;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.5px;
    }
  }
}

.chevron-down {
  cursor: pointer;
  margin-left: 7px;
}

.table {
  th.sorted[data-order="1"],
  th.sorted[data-order="-1"] {
    position: relative;
  }

  th.sorted[data-order="1"]::after,
  th.sorted[data-order="-1"]::after {
    left: 40px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    transition: all 0.2s;
  }
  th.sorted[data-order="-1"]::after {
    content: url(../img/icons/chevronUpBlack.svg);
  }

  th.sorted[data-order="1"]::after {
    content: url(../img/icons/chevronDownBlack.svg); 
   left: 40px;
   transition: all 0.2s;
  }
}
